name: API CI/CD Pipeline

on: 
  push:
    branches: ["master"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Bruno CLI
        run: npm install -g @usebruno/cli

      - name: Create Bruno environment file
        run: |
          mkdir -p environments
          cat <<EOF > environments/ci.json
          vars{
            BASE_URL: http://localhost:5000
            USER_NAME: ${{ secrets.CI_USER_NAME }}
            USER_EMAIL: ${{ secrets.CI_USER_EMAIL }}
            USER_PASSWORD: ${{ secrets.CI_USER_PASSWORD }}
          }
          EOF

      - name: Start API server
        run: |
          node app.js &
          sleep 5

      - name: Run Bruno Tests
        run: bru run tests --env environments/ci.json

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/api-cicd:latest
